{% extends "layout.html" %}

{% block content %}
    
<section class="main" >
    
<section class="articles">
        <article>
            <h2>PETS SHOP </h2>
            <br>
            <p>Esta es la tienda de animales mas importante de la ciudad al ser la unica
               que vende todo tipo de animales y las pocibilidades de encontrar
               a tu compañero ideal son grandes               
            <img src="/static/imagenes/portada1.jpg" width="200px">
           </p>
       </article>
        <article>
           <h2>Busca a tu compañero  </h2>
            <br>
            <p>Encuentra a tu compañero ideal aqui
            <img src="/static/imagenes/TM.jpg" width="200px">
        </article>
</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p> Contamos con todo tipo de animales
        <br>
       
       
    </p>
      
</aside> 
{% endblock %}
