{% extends "layout.html" %}

{% block content %}
    
<section class="main" >
    
<section class="articles">
        <article>
            <h2>Encuentra peces </h2>
            <br>
            <p>Encuentra cualquier tipo de pez y sus nesecidades aqui
                <img src="/static/imagenes/pez dorado.jpg" width="200px">
           </p>
       </article>
        <article>
           <h2>Aqui encuentas todo lo nesesario para un pez  </h2>
            <br>
            <p>pecera (chica, mediana,grande), bomba de agua,
            La comida, el filtro del agua y un calentador </p>
            <img src="/static/imagenes/pez angel.jpg" width="200px">
        </article>
</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p> si no tienes lo ecencia por favor no adoptes
        <br>
       
    </p>
      
</aside>
    
{% endblock %}