{% extends "layout.html" %}

{% block content %}
    
<section class="main" >
    
<section class="articles">
        <article>
            <h2>Serpiente  </h2>
            <br>
            <p>Este es un animal de muchos cuidados y no es para personas muy ocupadas ya que este 
            tipo de animales requiere muchos cuidados ciertas necesidades basicas.
                <img src="/static/imagenes/ser.jpg" width="200px">
           </p>
       </article>
        <article>
           <h2>Estas son las necesidades de una serpiente </h2>
            <br>
            <p>un terrario, un foco de calor, comida, estar en un ambiente no tan frio</p>
            <img src="/static/imagenes/serpiente.jpg" width="200px">
        </article>
</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p> No adoptar si no se cuenta con la precaucion y los cuidados nesesarios
        <br>
       
    </p>
      
</aside>

{% endblock %}